ul {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}

li {
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    cursor: pointer;
    font-size: x-large;
}