<ul (click)="onGoHome()">
    <li><a (click)="onGoHome()"><img src="assets/AMDB.png"></a></li>
    <li><a (click)="onLogOut()">logout</a></li>
</ul>

<!-- <div class="flex-row row">
    <div class="col-md-4">
        <a (click)="onGoHome()" style="display: flex; justify-content: center;"><img src="assets/AMDB.png"></a>
    </div>
    <div class="col-md-4">
        <h2 style="margin: 0; text-align: center;"><strong style="font-size: 30px;">{{ username }}</strong><br>Top Movies List</h2>
    </div>
    <div class="col-md-4">
        <a (click)="onLogOut()" >logout</a>
    </div>
</div> -->
