.row {
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.disabledButton {
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input.ng-invalid.ng-touched {
    color: red;
    border: 1px solid red;
}

.custom-container {
    background-color: white;
    opacity: 1;
    padding: 16px;
}

.input {
    margin-left: 4px;
}

.btn {
    margin: 8px;
}

.btn:hover {
    opacity: 0.8;
}

.loginBtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginBtn:hover {
    opacity: 0.8;
}

.cancelButton {
    width: auto;
    padding: 10px 18px;
    background-color: #ec5c52;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.cancelButton:hover {
    opacity: 0.8;
}

.centered {
    justify-content : center;
    align-items : center;
    display: flex;
    height: 100%;
}

.verticalCenter {
    display: flex;
    align-items: center;
}

form {border: 3px solid #f1f1f1a8;}