<app-navbar></app-navbar>

<!-- <h1 class="centered">{{ userName }}'s Top Movies List!</h1> -->
<div style="margin-left: 10px;" class="title">
    <h1>{{ userName }}'s Top Movies List!</h1>
</div>
<div class="centered">
    <div class="card">
        <p>{{ currentPage * 20 - 20 + 1 }} - {{ currentPage * 20 }} / 1000</p>
        <button (click)="onPreviousPage()">&larr;</button>&nbsp;
        <button (click)="onNextPage()">&rarr;</button>
    </div>
</div>
<div *ngIf="loading" class="centered">
    <img src="assets/loading.gif">
</div>
<div class="row" *ngIf="!loading">
    <app-movie class="col-lg-2 col-md-3 col-sm-4 col-6" [movie]="movie" *ngFor="let movie of movies"></app-movie>
</div>
<div class="flex-row">
    <div class="centered">
        <button (click)="onPreviousPage()">&larr;</button>&nbsp;
        <button (click)="onNextPage()">&rarr;</button>
    </div>
</div>

<button (click)="onGoToTop()" style="float: right; margin-right: 10px;">&uArr;</button>

<app-footer></app-footer>