<app-navbar></app-navbar>
<!-- <h1 class="centered">{{ userName }}'s Top Movies List!</h1> -->
<div style="margin-left: 10px;">
    <h1>{{ userName }}'s Top Movies List!</h1>
    <p>Page: {{ currentPage }}</p>
</div>
<div class="centered">
    <button (click)="onPreviousPage()">&larr;</button>
    <button (click)="onNextPage()">&rarr;</button>
</div>
<div class="row">
    <app-movie class="col-lg-2 col-md-3 col-sm-4 col-6" [movie]="movie" *ngFor="let movie of movies"></app-movie>
</div>
<div class="flex-row">
    <div class="centered">
        <button (click)="onPreviousPage()">&larr;</button>
        <button (click)="onNextPage()">&rarr;</button>
    </div>
    <span><button (click)="onGoToTop()" style="float: right; margin-right: 10px;">&uArr;</button></span>
</div>

<app-footer></app-footer>