.flex-container {
    display: flex;
    flex-flow: row wrap;
}
.centered {
    width: 100%;
    justify-content : center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-md-6 {
    margin-top: 3px;
    margin-bottom: 3px;
    
}

.row {
    width: 100%;
    margin: 0;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
}