<app-navbar></app-navbar>
<h3 class="centered">Top Movies!</h3>
<!-- <div class="flex-container">
    <app-movie [movie]="movie" *ngFor="let movie of movies"></app-movie>
</div> -->
<div class="row">
    <p style="margin-left: 30px;" id="pageNumber">Page: {{ currentPage }}</p>
    <app-movie class="col-md-6" [movie]="movie" *ngFor="let movie of movies"></app-movie>
</div>
<div class="centered">
    <button (click)="onPreviousPage()">&larr;</button>
    <button (click)="onNextPage()">&rarr;</button>
</div>

<app-footer></app-footer>