<!-- <div class="centered">
    <div class="container"
        style="width:20%;">
        <a (click)="onClick()"><img
        style="max-height: 150px"
        [src]="'http://image.tmdb.org/t/p/w500/' + movie.poster_path"
        alt="{{  movie.title }}"></a>
    </div>
    <div class="container">
        <ul>
            <li><h3 (click)="onClick()"><strong>Name: <u>{{ movie.title }}</u></strong></h3></li>
            <li><p>Votes: {{ movie.vote_average }}</p></li>
            <li><p>Release Date: {{ movie.release_date }}</p></li>
            <li><u><a  (click)="onClick()">view details</a></u></li>
        </ul>
    </div>
</div> -->

<div class="flex-row">
    <div class="centered">
        <div>
            <a (click)="onClick()" class="img-center"><img
                style="width: 100%; border-radius: 12px;"
                [src]="'http://image.tmdb.org/t/p/w500/' + movie.poster_path"
                alt="{{  movie.title }}"></a>
        </div>
        <div>
            <ul>
                <li><p>&#11088;: {{ movie.vote_average }}</p></li>
                <li><h5 (click)="onClick()"><strong>{{ movie.title }}</strong></h5></li>
                <li><p>Released: {{ releaseDate }}</p></li>
                <li><a  (click)="onClick()"><u style="font-size: 12px;">view details</u></a></li>
            </ul>
        </div>
    </div>
</div>