.container {
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 2px;
    margin-bottom: 2px;
    /* display: flex; */
    /* justify-content: flex-start; */
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centered {
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 2px;
    margin-bottom: 5px;
    height: 100%;
    width: 100%;
    background-color: grey;
    border: 3px solid grey;
    border-radius: 15px;
    color: white;
}

ul {
    margin-top: 10px;
    padding-left: 15px;
    list-style-type: none;
}

img {
    cursor: pointer;
}

li h5 strong {
    cursor: pointer;
}

li h5 strong:hover {
    color: lightblue;
}

li a u {
    color: white;
}

li a u:hover {
    color: lightblue;
}

li a {
    color: black;
    cursor: pointer;
}

li a:hover {
    color: cadetblue;
}

.flex-container1 {
    display: flex;
    justify-content: flex-start
}

.img-center {
    display: flex;
    justify-content: center;
    /* padding-bottom: 5px; */
    background-color: lightgray;
    border-radius: 13px;
}